body
{
    background-color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(51, 122, 98);
    text-align: center;
}
#headTitle
{
    color: deepskyblue;
}