body
{
    background-color: rgba(26, 26, 26, 0.856);
    align-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(152, 202, 63);
    margin: 0;
    padding: 0;
}
#container
{
    width: 30%;
    padding: 1em;
    text-align: center;
    border: 1px solid #ddd;
    margin: 10px 35%;
}
#container p
{
    color: #ddd;
}
